.bg {
  width: 100%;
  height: 50vh;
}

.page-index {
  background: url("@/assets/img/j4s-frau-3.jpeg") no-repeat center center;
  background-size: cover;
}

.page-students {
  background: url("@/assets/img/j4s-mann-4.jpeg") no-repeat top center;
  background-size: cover;
}

.page-companies {
  background: url("@/assets/img/j4s-personen-3.jpeg") no-repeat center center;
  background-size: cover;
}

.page-contact {
  background: url("@/assets/img/j4s-personen-2.jpeg") no-repeat center center;
  background-size: cover;
  height: 88vh;
}

.page-profile {
   background: url("@/assets/img/j4s-personen-2.jpeg") no-repeat center center;
   background-size: cover;
 }


.page-terms {
  background: url("@/assets/img/js4s_image_smartphone.jpeg") no-repeat center center;
  background-size: cover;
  height: 100%;
}
