@font-face {
  font-family: 'PlusJakartaSans';
  font-display: swap;
  src: url('~assets/fonts/PlusJakartaSans-Light.ttf')  format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'PlusJakartaSans';
  font-display: swap;
  src: url('~assets/fonts/PlusJakartaSans-Medium.ttf')  format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'PlusJakartaSans';
  font-display: swap;
  src: url('~assets/fonts/PlusJakartaSans-Regular.ttf')  format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'PlusJakartaSans';
  font-display: swap;
  src: url('~assets/fonts/PlusJakartaSans-Bold.ttf')  format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'PlusJakartaSans';
  font-display: block;
  src: url('~assets/fonts/PlusJakartaSans-SemiBold.ttf')  format('truetype');
  font-weight: 600;
}
