/**
colors
 */
@import "components/j4s-colors";
/**
Main
 */
@import "components/j4s-main";
/**
light-theme
 */
@import "components/j4s-materialLight";
/**
buttons
 */
@import "components/j4s-button";
/**
Lists
 */
@import "components/j4s-list";
/**
Cards
 */
@import "components/j4s-card";
/**
Expansion Panel
 */
@import "components/_j4s-expansion-panel.scss";
/**
Input
 */
@import "components/_j4s-input.scss";
/**
Images
*/
@import "components/_j4s-images.scss";

h1 {
  margin-bottom: 1rem;
}

.my--xl{
  margin: 200px 0;
}
.mb--xl{
  margin-bottom: 200px;
}
.mt--xl{
  margin-top: 200px;
}
